<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Pokémon</title>
</head>

<body>
    <div id="app">
        <button v-on:click="changeDifficulty">{{getDifficulty}}</button>
        <button v-on:click="getRound">GO!</button>
        <div v-if="ready">
            <img v-if="sprite" v-bind:class="visible ? '' : 'silhouette' " v-bind:src="sprite">
            <span v-for="choice in choices">
                <button v-on:click="checkAnswer(choice)">{{choice.name}}</button>
            </span>
            <p>{{message}}</p>
        </div>

        <img class="bg" src="images/lucario.png">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"
        integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>
