
#app {
    margin: 1em;
}

.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vh100 {
    height: 100vh;
}

.selected {
    border: 3px;
}

.silhouette {
    filter: brightness(0%);
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index:-5;
  }

  .score {
      margin-bottom: 5px;
  }

  .question {
      min-height: 50px;
  }

  .loading {
      min-height: 50px;
  }